.walkthrough-container {
  background-image: url('../../assets/welcome-bg.png');
  background-size: cover;
  background-position: center center;
  color: white;
  font-family: var(--Poppins);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.walkthrough-form {
  border: 1px solid #7000ff;
  border-radius: 5px;
  padding: 70px;
  background-color: black;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .progressbar {
    border: 1px solid #333;
    border-radius: 3px;
    height: 10px;
    margin-bottom: 40px;
    width: 100%;
  }

  .progressbar div {
    height: 100%;
    background-color: rgb(98, 0, 255);
    transition: 0.7s ease-in;
  }

  @media screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.walkthrough-button {
  background-color: #2d6ad3;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  padding: 5px 20px;
  margin-top: 30px;
  cursor: pointer;
  animation-name: animate;
  animation-duration: 5s;
  animation-direction: alternate;
}

.slide2,
.slide3 {
  display: flex;
  flex-direction: column;
}

.slide5 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  margin: 0 auto;

  .content {
    background-color: #7000ff;
    padding: 30px;
  }
}

.buttons button {
  margin: 15px 5px;
  animation-name: animate;
  animation-duration: 5s;
  animation-direction: alternate;
}

.slide4 img,
.slide5 img {
  max-width: 250px;
}

.planet-images {
  position: relative;
}

.planet-images img {
  max-width: 250px;
}

.arrow {
  position: absolute;
  top: 30px;
  width: 50px;
  cursor: pointer;
}

//Buttons Animation
@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
