.faq-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-content {
  border: 1px solid #7000ff;
  padding: 20px 100px;
  background-color: black;
  max-width: 80%;
  color: white;
  font-family: 'Poppins', sans-serif;

  @media screen and (max-width: 700px) {
    max-width: 80%;
    padding: 10px 30px;
  }
}

.faq-content h1 {
  padding: 20px 0;
}

.faq-accordion {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-accordion p {
  margin-top: 10px;
  text-align: left;
}

.faq-answer {
  animation-name: animation;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

.faq span {
  cursor: pointer;
  color: #7000ff;
  font-size: 35px;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
