.side-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 7%;
  bottom: 0;
  max-height: 92vh;
  width: 30vw;
  margin: 0;
  padding: 35px;
  text-align: left;
  z-index: 1000;
  transform: translateX(-120%);
  transition: transform 0.3s ease-in-out;
  font-family: inherit;
  background: rgba(30, 30, 30, 1);
  color: rgb(201, 201, 201);

  &.open {
    transform: translateX(0);
  }

  .sys-name {
    font-size: 17px;
    font-weight: 100;
    font-style: italic;
  }

  .panel-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;

    .panel-title {
      font-size: 30px;
      font-weight: 100;
      text-decoration-thickness: 1.5px;
      text-underline-offset: 5px;
    }

    .icons-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: space-between;
    }

    .database-button {
      position: relative;
      top: 5px;
      cursor: pointer;
      margin-right: 1rem;
    }
    .tooltip {
      position: absolute;
      top: 75%;
      left: -25%;
      border-radius: 5px;
      font-size: 10px;
      pointer-events: none;
    }

    .button-wrap {
      display: flex;
      position: relative;

      .return {
        display: flex;
        align-items: center;
        border: 0;
        background-color: transparent;
        opacity: 0.8;

        .return-hover {
          width: 3rem;
          height: 3rem;
        }

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }

      .hover-text {
        position: absolute;
        top: 5.5vh;
        transform: translateX(-30%);
        white-space: nowrap;
        font-size: 10px;
      }
    }
  }

  .panel-content {
    height: 60%;
    overflow: scroll;
    display: flex;
    flex-direction: column;

    .planetData-wrap {
      margin-top: 0;
    }

    .stellarData-wrap {
      margin-top: 2rem;
    }

    p {
      font-size: 20px;
      font-weight: 100;
    }

    .styled-text {
      font-size: 15px;
      margin-left: 10px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .planet-slider-container {
    position: relative;
    width: 100%;

    .planet-slider {
      margin: 0 auto;
      width: 100%;

      .carousel-container {
        width: 85%;
        top: 50%;
        margin: 0 auto;
      }

      .planet-item {
        display: flex;
        justify-content: center;
        height: 100%;
        position: relative;
        border-color: transparent;
        transition: border-color 0.3s ease; /* Smooth transition for the border color change */
        overflow: hidden; /* Hide overflowing carrots */
        cursor: pointer;

        .planet-item-name {
          font-size: 9px;
          position: absolute;
          top: 40%;
          color: rgb(201, 201, 201);
        }
        .planet-sphere {
          border-radius: 100%;
          width: 3rem;
          height: 3rem;
          background-color: #5f5e5f;
        }
      }

      /* Carrot styling */
      .planet-item::before,
      .planet-item::after {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: transparent;
        display: none;
      }

      /* Carrot shapes */
      .planet-item::before {
        border-top: 2px solid white;
        border-right: 2px solid white;
        top: 0px;
        right: 5px;
      }
      .planet-item:hover::before {
        display: block;
      }

      .planet-item::after {
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        bottom: 0px;
        left: 5px;
      }
      .planet-item:hover::after {
        display: block;
      }

      /* Apply the framed effect on hover */
      .planet-item:hover {
        border-color: white; /* Change the border color to create a framed effect */
      }

      button {
        font-size: 30px;
        color: white;
        border: 0;
        background-color: transparent;
        cursor: pointer;
      }

      .carousel-arrow {
        position: absolute;
        width: fit-content;
        top: 30%;
        transform: translateX(-15px);
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .carousel-arrow.right-arrow {
        right: 0;
        top: 30%;
        transform: translateX(15px);
      }
    }
  }

  .selected-planet-name {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }
}

// mobile
@media screen and (max-width: 576px) {
  .side-panel {
    width: 45vw;

    .sys-name {
      font-size: 10px;
    }

    .panel-title-container {
      .panel-title {
        font-size: 17px;
      }

      .button-wrap {
        .return {
          .return-hover {
            width: 1.5rem !important;
            height: 1.5rem !important;
          }
        }

        .hover-text {
          top: 4.5vh !important;
          font-size: 5px !important;
        }
      }
    }

    .panel-content {
      height: 55%;

      p {
        font-size: 13px;
        font-weight: 100;
      }

      .styled-text {
        font-size: 10px;
      }
    }

    #selected-planet-name {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .side-panel {
    width: 50vw;
  }
}

@media screen and (max-width: 992px) {
  .side-panel {
    width: 50vw;
  }
}

@media screen and (max-width: 1200px) {
  .side-panel {
    width: 45vw;
  }
}
