.home-button {
  background-color: #7000ff;
  opacity: 0.6;
  border: none;
  border-radius: 100%;
  padding: 5px 5px 0px 5px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.home-button:hover {
  opacity: 1;
}
