// styles.scss

// Main.js styles
.database-icon {
  width: 40px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 50px;
  left: 5px; 
  z-index: 999; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.exoplanet-database {
  position: fixed;
  top: 40%;
  left: 14%;
  transform: translate(-65%, -50%);
  padding: 20px;
  background-color: #FAFAFA;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 998;
  max-width: 400px;

  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
  margin-top: 10px;

  h2 {
    color: black;
  }
}

.close-button {
  cursor: pointer;
  border: black;
  background-color: transparent;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.search-bar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  align-items: flex-start;
}

.result-count {
  font-size: 14px; 
  margin-top: 5px;
}

.exoplanet-item {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-input {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}
