.MenuOverlay {
  position: relative;
}

.menu-icon {
  font-size: 35px;
}

.menu-button {
  position: fixed;
  top: 3.5%;
  right: 4vmin;
  z-index: 99;
  color: white;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.menu-close-button {
  position: absolute;
  top: 3.5%;
  right: 4vmin;
  z-index: 99;
  color: black;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.menu-box {
  height: 100vh;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.9);
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-items a {
  margin-top: 25px;
  color: black;
  font-size: clamp(1.2rem, 1.2vw, 1.875rem);
}

.menu-items p {
  margin-top: 3vh;
  color: black;
  font-size: clamp(1.7rem, 1.8vw, 4rem);
}

.menu-link {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  // phones
  .menu-icon {
    font-size: 25px;
  }

  .menu-box {
    width: 45vw;
  }

  .menu-items a {
    font-size: 15px;
    margin-top: 10%;
  }

  .menu-items p {
    font-size: 20px;
  }
}
