.App-welcome {
  background-image: url('../assets/welcome-bg.png');
  background-size: cover;
  background-position: center center;
  color: white;
  font-family: var(--Poppins);
}

.app-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 0 25px 0;
  border: 2px solid #7000ff;
  border-radius: 5px;
  width: 700px;
  background-color: black;

  h1 {
    padding: 20px;
  }
}

.app-title {
  display: flex;
  flex-direction: column;
}

//Walkthrough Hover Effect

.rectangle {
  border: gray 2px solid;
  border-left: 1px;
  border-right: 1px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-rectangle {
  background-image: radial-gradient(
      closest-corner,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3)
    ),
    linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.3),
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0.3)
    ),
    linear-gradient(to top right, #7000ff, #ad6eff);
  width: 100px;
  height: 80px;
  margin-left: 0;
  border: gray 2px solid;
  transition: all 0.3s ease-in-out;
}

.right-rectangle {
  background-image: radial-gradient(
      closest-corner,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3)
    ),
    linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.3),
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0.3)
    ),
    linear-gradient(to bottom left, #7000ff, #ad6eff);
  width: 100px;
  height: 80px;
  margin-right: 0;
  border: gray 2px solid;
  transition: all 0.3s ease-in-out;
}

.rectangle:hover {
  .left-rectangle {
    transform: translateX(100px);
  }

  .right-rectangle {
    transform: translateX(-100px);
  }
}
