.App-welcome {
  background-image: url('../assets/welcome-bg.png');
  background-size: cover;
  background-position: center center;
  color: white;
  font-family: var(--Poppins);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0;
  }
}

.App-container {
  padding: 100px 0;
  border: 1px solid #7000ff;
  border-radius: 5px;
  max-width: 600px;
  background-color: black;

  h1 {
    padding: 20px;
  }
}

//Walkthrough Hover Effect

.rectangle {
  border: gray 2px solid;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.left-rectangle {
  background-color: purple;
  width: 100px;
  border-right: gray 1px solid;
  transition: all 0.5s ease-in;
}

.right-rectangle {
  background-color: purple;
  width: 100px;
  border-left: gray 1px solid;
  transition: all 0.5s ease-in;
}

.rectangle:hover {
  .left-rectangle {
    transform: translateX(100px);
  }

  .right-rectangle {
    transform: translateX(-100px);
  }
}
