.App-header {
  position: absolute;
  top: 0;
  padding: 10px;
  z-index: 99;
  background-color: transparent;
  height: 5vmin;
  width: 100%;
  display: flex;
}

.App-header p {
  position: relative;
  justify-content: center;
  font-size: 3vmin;
  color: white;
}
