.App-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  background-color: transparent;
  height: 3vmin;
  width: 100%;
  display: flex;
  justify-content: right;
}

.App-footer p {
  position: relative;
  justify-content: right;
  font-size: 2vmin;
  color: white;
  font-weight: bold;
  font-family: var(--Orbitron);
  letter-spacing: 2px;
}
