@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&family=IBM+Plex+Mono&family=Orbitron&display=swap");

.App {
  text-align: center;
}

:root {
  --Encode-Sans: "Encode Sans", sans-serif;
  --Plex-Mono: "IBM Plex Mono", monospace;
  --Orbitron: "Orbitron", sans-serif;
}
